# Puerto del servidor
PORT=8192
PUERTO=8192

# Orígenes permitidos para CORS (Separados por coma)
CORS_ORIGENES_PERMITIDOS=http://localhost:8000,http://localhost:5173

# Lista de tokens secretos para tus diferentes proyectos autorizados
API_KEYS=llave-falsa-de-ejemplo,otra-llave-falsa
